@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body,
pre,
code,
kbd,
span,
samp {
    font-family: "Press Start 2P", cursive;
    line-height: 18px;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.login {
    height: 100vh;
}
.loginBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.loginBox {
    background-color: white;
    width: 800px;
    height: 500px;
    margin: calc((100vh - 500px) / 2) auto;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 500px auto;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.loginLogoBox {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2318469a' fill-opacity='0.61' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-color: #6c9bf9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.loginDataBox {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.main {
    max-width: 1000px;
    min-height: 100vh;
    margin: auto 0;
}

.resources {
    display: grid;
    grid-template-columns: auto 16px auto;
    grid-template-areas: "money . city";
    margin-bottom: 16px;
}
.resources-money {
    grid-area: money;
    text-align: left;
}
.resources-city {
    text-align: right;
    grid-area: city;
}

.buildings div {
    margin-bottom: 16px;
}

progress {
    margin: 10px 0 !important;
    box-sizing: border-box !important;
}

.level-tag,
.upgrade-tag {
    margin-bottom: 0;
    text-align: left;
}

.powerUp {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.powerUp-name {
    margin: 0 !important;
}

.level {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
progress[value].animated::-webkit-progress-value {
    transition: width 0.2s;
}

.prestige {
    width: 100%;
    text-align: center;
}
